<nav _ngcontent-mxw-c2="" aria-label="breadcrumb">
  <ol _ngcontent-mxw-c2="" class="p-3 breadcrumb primary-background border-top border-bottom rounded-0">
    <li _ngcontent-mxw-c2="" class="breadcrumb-item ">
      <a _ngcontent-mxw-c2="" class="text-white mx-md-3" href="#">Videos</a>
    </li>
    <li _ngcontent-mxw-c2="" class="breadcrumb-item ">
      <a _ngcontent-mxw-c2="" class="text-white mx-md-3" href="#">People</a>
    </li>
    <li _ngcontent-mxw-c2="" class="breadcrumb-item ">
      <a _ngcontent-mxw-c2="" class="text-white mx-md-3" href="#">Document</a>
    </li>
    <li _ngcontent-mxw-c2="" class="breadcrumb-item ">
      <a _ngcontent-mxw-c2="" class="text-white mx-md-3" href="#">Events</a>
    </li>
    <li _ngcontent-mxw-c2="" class="breadcrumb-item ">
      <a _ngcontent-mxw-c2="" class="text-white mx-md-3" href="#">Communities</a>
    </li>
    <li _ngcontent-mxw-c2="" class="breadcrumb-item ">
      <a _ngcontent-mxw-c2="" class="text-white mx-md-3" href="#">Favorites</a>
    </li>
    <li _ngcontent-mxw-c2="" class="breadcrumb-item ">
      <a _ngcontent-mxw-c2="" class="text-white mx-md-3" href="#">Channels</a>
    </li>
  </ol>
</nav>
