<div class="social-media d-flex pt-4 mt-5">
  <div class="background me-3 pe-0">
    <i class="fa fa-twitter ps-0 ms-2 me-2" aria-hidden="true"></i>
  </div>
  <div class="background me-3 pe-0">
    <i class="fa fa-linkedin ps-0 ms-2 me-2" aria-hidden="true"></i>
  </div>
  <div class="background me-3 pe-1">
    <i class="fa fa-facebook ps-1 ms-2 me-2" aria-hidden="true"></i>
  </div>
</div>
<nav _ngcontent-mxw-c8="" aria-label="breadcrumb">
  <ol _ngcontent-mxw-c8="" class="breadcrumb primary-background mt-3 rounded-0">
    <li _ngcontent-mxw-c8="" class="breadcrumb-item ">
      <a _ngcontent-mxw-c8="" class="text-white" href="#">Videos</a>
    </li>
    <li _ngcontent-mxw-c8="" class="breadcrumb-item ">
      <a _ngcontent-mxw-c8="" class="text-white mx-3" href="#">People</a>
    </li>
    <li _ngcontent-mxw-c8="" class="breadcrumb-item ">
      <a _ngcontent-mxw-c8="" class="text-white mx-3" href="#">Document</a>
    </li>
    <li _ngcontent-mxw-c8="" class="breadcrumb-item ">
      <a _ngcontent-mxw-c8="" class="text-white mx-3" href="#">Events</a>
    </li>
    <li _ngcontent-mxw-c8="" class="breadcrumb-item ">
      <a _ngcontent-mxw-c8="" class="text-white mx-3" href="#">Communities</a>
    </li>
    <li _ngcontent-mxw-c8="" class="breadcrumb-item ">
      <a _ngcontent-mxw-c8="" class="text-white mx-3" href="#">Favorites</a>
    </li>
    <li _ngcontent-mxw-c8="" class="breadcrumb-item ">
      <a _ngcontent-mxw-c8="" class="text-white mx-3" href="#">Channels</a>
    </li>
  </ol>
</nav>

<p>© Copyright 2013 Companyname inc.</p>
<p>Privacy / Terms</p>

