


<nav _ngcontent-mxw-c1="" class="pb-4 row navbar navbar-expand-lg navbar-light ">
  <div class="col-md-3">
    <a _ngcontent-mxw-c1="" class="navbar-brand font-weight-bold" href="#">Social <span _ngcontent-mxw-c1="" class="font-weight-light"> Network</span></a>
  </div>
  <div class="col-md-9">
    <button _ngcontent-mxw-c1="" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler " data-target="#navbarSupportedContent" data-toggle="collapse" type="button"><span _ngcontent-mxw-c1="" class="navbar-toggler-icon"></span></button>
    <div _ngcontent-mxw-c1="" class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul _ngcontent-mxw-c1="" class="navbar-nav mr-auto">
        <form _ngcontent-mxw-c1="" class=" my-2 my-lg-0">
          <div _ngcontent-mxw-c1="" class="input-group mt-1">
          <input _ngcontent-mxw-c1="" aria-label="Search" class="form-control  nav-form secondary-background primary-background-text  p-2 font-weight-bold ml-md-5 " placeholder="Find.." type="search">
            <div _ngcontent-mxw-c1="" class="input-group-append">
              <button _ngcontent-mxw-c1="" class="btn  secondary-background rounded search primary-background-text " id="button-addon2" type="button">
                <i _ngcontent-mxw-c1="" class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </form>
        <button _ngcontent-mxw-c1="" class="me-3 mt-auto secondary-background rounded primary-background-text font-weight-bold  my-sm-0" type="submit nav-upload">
          <i _ngcontent-mxw-c1="" class="fa fa-upload nav-upload"></i> Upload</button>
          <li _ngcontent-mxw-c1="" class="nav-item ml-md-3">
            <div _ngcontent-mxw-c1="" class="d-flex justify-content-md-between">
              <i _ngcontent-mxw-c1="" class="me-2 fa fa-user mt-auto mb-auto icon-nav secondary-background p-3 rounded primary-background-text"></i>
              <div _ngcontent-mxw-c1="" class="ml-2 mt-auto mb-auto">
              <h5 _ngcontent-mxw-c1="" class="mb-0 pb-0">Waseem <span _ngcontent-mxw-c1="" class="d-unset d-md-none"> Arshad</span></h5>
              <small _ngcontent-mxw-c1="" class="d-none d-md-block">Arshad</small>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>


</nav>

